<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSample</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<BlazoredMenu>
    <BlazoredMenuItem>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    </BlazoredMenuItem>
    <BlazoredMenuItem>
        <NavLink href="counter">Counter</NavLink>
    </BlazoredMenuItem>
    <BlazoredSubMenu Header="Sub Menu">
        <BlazoredMenuItem>
            <NavLink href="counter">Counter</NavLink>
        </BlazoredMenuItem>
        <BlazoredMenuItem>
            <NavLink href="fetchdata">Fetch data</NavLink>
        </BlazoredMenuItem>
    </BlazoredSubMenu>
    <BlazoredMenuItem>
        <NavLink href="fetchdata">Fetch data</NavLink>
    </BlazoredMenuItem>
</BlazoredMenu>

<BlazoredMenu MenuBuilder="@Menu" />


@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    MenuBuilder Menu = new MenuBuilder();

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInit()
    {
        Menu.AddItem(1, "Home", "/")
            .AddItem(2, "Counter", "counter")
            .AddSubMenu(3, "Sub Menu", new MenuBuilder().AddItem(1, "Counter", "counter")
                                                        .AddItem(2, "Fetch Data", "fetchdata"))
            .AddItem(4, "FetchData", "fetchdata");
    }
}
