@page "/"

<h1>Hello, world!</h1>

Samples of a multi-level submenu below:

<hr />

<BlazoredMenu MenuBuilder="@MenuBuilder1" />

<hr />

@code {
    MenuBuilder MenuBuilder1 = new MenuBuilder();
    MenuBuilder MenuBuilder2 = new MenuBuilder();

    protected override void OnInitialized()
    {
        MenuBuilder1
            .AddIconCssToClose("oi oi-chevron-top pt-3")
            .AddIconCssToOpen("oi oi-chevron-bottom pt-3")
            .AddItem(1, "Home", "/", match: NavLinkMatch.All)
            .AddItem(2, "Counter", "counter", isEnabled: false)
            .AddSubMenu(3, "Sub Menu sotto", new MenuBuilder()
                .AddItem(1, "Counter", "counter")
                .AddItem(2, "Fetch Data", "fetchdata", isEnabled: false)
                .AddItem(3, "You Can't See Me", "invisible", isVisible: false))
            .AddSubMenu(4, "another sub menu", new MenuBuilder()
                .AddItem(1, "Counter", "counter")
                .AddItem(2, "Fetch Data", "fetchdata")
                .AddItem(3, "Paperino", "paperino")
                .AddSubMenu(4, "another subsubmenu", new MenuBuilder()
                    .AddItem(1, "Counter", "counter")))
            .AddItem(5, "FetchData", "fetchdata");
}