@inherits BlazoredSubMenuBase

    <li class="sub-menu-header" onclick="@ToggleSubMenu">
        <span>@Icon</span> @Header
        <ul class="blazored-sub-menu @Css">
            @ChildContent
        </ul>
    </li>