.blazored-menu {
    list-style: none;
    padding: 1rem 0;
}

    .blazored-menu li.hidden {
        display: none;
    }

    .blazored-menu li a {
        display: block;
        padding: .75rem 1rem;
        color: #333;
        cursor: pointer;
    }

        .blazored-menu li a:hover {
            text-decoration: underline;
        }

        .blazored-menu li a.active {
            color: #333;
        }

    .blazored-menu .disabled {
        display: block;
        padding: .75rem 1rem;
        color: #d6d5d5;
        cursor: not-allowed;
    }

.blazored-sub-menu-header {
    display: block;
    color: #333;
    cursor: pointer;
}

    .blazored-sub-menu-header span:hover {
        text-decoration: underline;
    }

    .blazored-sub-menu-header span {
        display: block;
        padding: .75rem 1rem;
        position: relative;
    }

        .blazored-sub-menu-header span i {
            position: absolute;
            right: 0;
        }

    .blazored-sub-menu-header.open span {
        padding-bottom: .75rem;
    }

.blazored-sub-menu {
    display: none;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
}

.blazored-sub-menu-header.open .blazored-sub-menu {
    display: block;
}
