.blazored-menu-container {

}

.blazored-menu {
    list-style: none;
    padding: 1rem 0;
}

.blazored-menu li a, 
.blazored-menu li.sub-menu-header {
    display: block;
    padding: .75rem 1rem;
    color: #fff;
    cursor: pointer;
}

    .blazored-menu li a:hover,
    .blazored-menu li.sub-menu-header:hover {
        background: #f5f5f5;
        color: #333;
    }

    .blazored-menu li a.active {
        background: #f5f5f5;
        color: #333;
    }

    .blazored-menu .hidden {
        display: none;
    }

.blazored-menu .visible {
    display: block;
}

.blazored-sub-menu {
    padding: 0 0 0 1rem;
}